#top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606366;
    width: 200px;
}

#toptext {
    float: left;
    border-left: 5px white solid;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#un {
    text-align: left;
    text-decoration: underline;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

.metro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
  }

h2 {
    font-size: 15pt
}

#side {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
 
  }
